:root {
   --text-color-cyan: rgb(145, 252, 220);
   --text-color-darkbluegrey: rgb(138, 146, 173);
   --text-color-lightbluegrey: rgb(206, 214, 243);
   --text-color-grey: rgb(211, 211, 255);
   --div-color-shadow: rgba(0, 0, 0, 0.5);
   --div-color-hover: rgba(145, 252, 220, 0.2);
   --div-color-background: rgb(14, 25, 45);
   --div-color-header: rgba(14, 25, 45, 0.8);
   --div-color-navMenu: rgb(21, 34, 62);
   --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
   --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}

body {
    background-color: var(--div-color-background);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
  }

  /* Header Styles */

.header {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px 40px 10px;
    z-index: 2;
    background-color: var(--div-color-header);
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(3px);
    transition: transform 0.4s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: none;
}

.header.hide {
    transform: translateY(-200%);
}

.header.shadow {
    box-shadow: 0 3px 10px var(--div-color-shadow);
}

.title {
    font-family: var(--font-mono);
    margin: 0;
    font-size: 24px;
    color: var(--text-color-cyan);
    padding: 8px;
    border: 1px solid var(--text-color-cyan);
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}

.title:hover {
    background-color: var(--div-color-hover);
}

/* Styles for the nav menu*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-menu li a {
    display: inline-block;
    color: var(--text-color-cyan);
    font-size: 15px;
    text-decoration: none;
    font-family: var(--font-mono);
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-menu li:not(:last-child) a:hover {
    transform: scale(1.05);
}

.nav-menu li a span {
    color: var(--text-color-grey);
}

.nav-link:hover span{
    color: var(--text-color-cyan);
    transition: 0.3s ease-in-out;
}

.nav-link.resume {
    padding: 8px;
    border: 1px solid var(--text-color-cyan);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.nav-link.resume:hover {
    background-color: var(--div-color-hover);
}

/* Styles for the hamburger */

.hamburger {
    display: none;
    z-index: 5;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3x ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color-cyan);
}

.hamburger-overlay {
    display: none;
}

/* Media queries for hamburger menu */

@media only screen and (max-width: 768px) {

    .nav-menu {
        position: fixed;
        align-items: flex-start;
        right: -100%;
        top: 3.4rem;
        flex-direction: column;
        width: 50%;
        text-align: center;
        transition: 0.3s;
        background-color: var(--div-color-navMenu);
        z-index: 2;
    }

    .hamburger-overlay {
        display: block;
        position: fixed;
        right: -100%;
        width: 61%;
        top: 0;
        bottom: 0;
        background-color: var(--div-color-navMenu);
        opacity: 1;
        transition: 0.3s;
        z-index: 1;
        pointer-events: none;
        box-shadow: 0 3px 10px var(--div-color-shadow);
    }

    .nav-menu.active,
    .hamburger-overlay.active {
        right: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* Style to animate hamburger menu */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        width: 25px;
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        width: 25px;
        transform: translateY(-7px) rotate(-45deg);
    }
}

/* Content Styling */

.content {
    flex: 1;
    padding: 80px 70px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 20px 30px;
    }
}

.content.blur > *:not(.header) {
    transition: 0.3s;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.content-small-monospace {
    font-size: 16px;
    font-family: var(--font-mono);
    color: var(--text-color-cyan);
}

.content-small {
    font-size: 16px;
    font-family: var(--font-sans);
    color: var(--text-color-darkbluegrey);
}

.content-medium {
    font-size: 24px;
    font-family: var(--font-sans);
    color: var(--text-color-darkbluegrey);
}

.content-large {
    font-size: 36px;
    font-family: var(--font-sans);
    color: var(--text-color-lightbluegrey);
}

#Intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 50px 0 400px 0;
    max-width: 900px;
}

#Intro .content-large {
    margin: 5px 0;
    font-size: 70px;
}

#Intro .content-medium {
    font-size: 60px;
    margin: 5px 0;
}

#Intro .content-small {
    width: 70%;
    margin: 5px auto 0 0;
    line-height: 1.5;
}

#Intro .content-small-monospace {
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {

    #Intro {
        width: 90%
    }

    #Intro .content-large {
        margin: 5px 0;
        font-size: 50px;
    }
    
    #Intro .content-medium {
        font-size: 30px;
        margin: 5px 0;
    }
    
    #Intro .content-small {
        width: 80%;
    }
    
    #Intro .content-small-monospace {
        margin: 0 5px;
    }
}

#About {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 0px;
    max-width: 900px;
}

#About .title-content-wrapper {
    display: flex;
    align-items: baseline;
}

#About .content-small-monospace {
    font-size: 20px;
}

#About .content-medium {
    color: var(--text-color-lightbluegrey);
    margin: 0;
}

#About .main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#About .about-text {
    width: 50%;
    max-width: 450px;
    box-sizing: border-box;
    flex-shrink: 0;
    line-height: 1.5;
}

#About .about-image {
    width: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
}

#About .tech-list {
    display: grid;
    padding-inline-start: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
}

#About .tech-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-family: var(--font-sans);
    color: var(--text-color-darkbluegrey);
}

#About .tech-list li i {
    margin-right: 5px;
    width: 20px;
}

/* Social icons & links styling */

.socials {
    position: fixed;
    left: 60px;
    bottom: 150px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials a {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color-grey);
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.socials a:hover {
    color: var(--text-color-cyan);
    transform: scale(1.1);
}

.socials::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 15rem;
    top: 7rem;
    bottom: 0;
    background-color: var(--text-color-grey);
}

@media only screen and (max-width: 768px) {
    .socials {
        position: inherit;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .socials a {
        margin: 0 10px;
        font-size: 28px;
    }

    .socials::after {
        display: none;
    }
}

/* Email styling */

.email {
    position: fixed;
    right: 60px;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email a {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color-grey);
    writing-mode: vertical-lr;
    font-size: 16px;
    font-family: var(--font-mono);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.email a:hover {
    color: var(--text-color-cyan);
    transform: scale(1.02);
}

.email::after {
    content: "";
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    width: 2px;
    height: 10rem;
    top: 14.5rem;
    bottom: 0;
    background-color: var(--text-color-grey);
}

@media only screen and (max-width: 768px) {
    .email {
        position: inherit;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .email a {
        font-size: 14px;
        writing-mode: horizontal-tb;
        margin: 0 10px;
    }

    .email::after {
        display: none;
    }
}


/* Footer styling */

footer{
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    padding: 20px 0 5px 0;
}

.footer-content a {
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color-grey);
    transition: color 0.2s ease-in-out;
}

.footer-content:hover a {
    color: var(--text-color-cyan);
}

@media only screen and (max-width: 768px) {
    .footer-content {
        padding: 30px 0 10px 0;
    }

    .footer-content a {
        font-size: 10px;
    }
}





