body {
    background-color: rgb(14, 25, 45);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color:rgb(211, 211, 255);
}

header {
    background-color: rgba(14, 25, 45, 0.8);
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(3px); /* For Safari support */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
    z-index: 999;
    box-shadow: "none";
}

header.hide {
    transform: translateY(-200%);
}

header.shadow {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.title h1 {
    font-family: monospace;
    margin: 0;
    font-size: 24px;
    margin-left: 15px;
    color: rgb(145, 252, 220);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: rgb(145, 252, 220);
    font-size: 15px;
    text-decoration: none;
    font-family: monospace;
    position: relative;
}

nav ul li a span {
    color: rgb(211, 211, 255);
}

.nav-link:hover span {
    color: rgb(145, 252, 220);
    transition: color 0.2s ease-in-out;
}

.nav-link.resume {
    padding: 8px;
    border: 1px solid rgb(145, 252, 220);
    border-radius: 5px;
}

.nav-link.resume:hover {
    background-color: rgba(145, 252, 220, 0.2);
    transition: background-color 0.2s ease-in-out;
}

.dummy-content {
    height: 30vh;
    background-color: rgba(255, 255, 255, 0); 
}

