:root {
    --text-color-cyan: rgb(145, 252, 220);
    --text-color-darkbluegrey: rgb(138, 146, 173);
    --text-color-lightbluegrey: rgb(206, 214, 243);
    --text-color-grey: rgb(211, 211, 255);
    --div-color-shadow: rgba(0, 0, 0, 0.5);
    --div-color-hover: rgba(145, 252, 220, 0.2);
    --div-color-background: rgb(13, 25, 46);
    --div-color-header: rgba(14, 25, 45, 0.8);
    --div-color-navMenu: rgb(21, 34, 62);
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}


html {
    scroll-behavior: 'smooth';
}

body {
    background-color: var(--div-color-background);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Header Styles */

.header {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px 40px 10px;
    z-index: 2;
    background-color: var(--div-color-header);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: transform 0.4s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
    box-shadow: none;
    opacity: 0;
}

.header.fade-in {
    opacity: 1;
}

.header.hide {
    transform: translateY(-200%);
}

.header.shadow {
    box-shadow: 0 3px 10px var(--div-color-shadow);
}

.title {
    font-family: var(--font-mono);
    margin: 0;
    font-size: 24px;
    color: var(--text-color-cyan);
    padding: 8px;
    border: 1px solid var(--text-color-cyan);
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}

.title:hover {
    background-color: var(--div-color-hover);
}

/* Styles for the nav menu*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
    opacity: 0;
    transform: translateY(-100%);
}

.nav-item.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.nav-item.slide-down {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.nav-menu li a {
    display: inline-block;
    color: var(--text-color-cyan);
    font-size: 15px;
    text-decoration: none;
    font-family: var(--font-mono);
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-menu li:not(:last-child) a:hover {
    transform: scale(1.05);
}

.nav-menu li a span {
    color: var(--text-color-grey);
}

.nav-link:hover span {
    color: var(--text-color-cyan);
    transition: 0.3s ease-in-out;
}

.nav-link.resume {
    padding: 8px;
    border: 1px solid var(--text-color-cyan);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.nav-link.resume:hover {
    background-color: var(--div-color-hover);
}

/* Styles for the hamburger */

.hamburger {
    display: none;
    z-index: 5;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3x ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color-cyan);
}

.hamburger-overlay {
    display: none;
}

/* Media queries for hamburger menu */

@media only screen and (max-width: 768px) {

    .nav-menu {
        position: fixed;
        align-items: flex-start;
        right: -100%;
        top: 3.4rem;
        flex-direction: column;
        width: 50%;
        text-align: center;
        transition: 0.4s;
        background-color: var(--div-color-navMenu);
        z-index: 2;
    }

    .hamburger-overlay {
        display: block;
        position: fixed;
        right: -100%;
        width: 61%;
        top: 0;
        bottom: 0;
        background-color: var(--div-color-navMenu);
        opacity: 1;
        transition: 0.4s;
        z-index: 1;
        pointer-events: none;
        box-shadow: 0 3px 10px var(--div-color-shadow);
    }

    .nav-menu.active,
    .hamburger-overlay.active {
        right: 0;
    }

    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* Style to animate hamburger menu */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        width: 25px;
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        width: 25px;
        transform: translateY(-7px) rotate(-45deg);
    }
}

/* Content Styling */

.content {
    flex: 1;
    padding: 80px 70px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 20px 30px;
    }
}

.content.blur>*:not(.header) {
    transition: 0.3s;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.content-small-monospace {
    font-size: 16px;
    font-family: var(--font-mono);
    color: var(--text-color-cyan);
}

.content-small {
    font-size: 16px;
    font-family: var(--font-sans);
    color: var(--text-color-darkbluegrey);
}

.content-medium {
    font-size: 24px;
    font-family: var(--font-sans);
    color: var(--text-color-darkbluegrey);
}

.content-large {
    font-size: 36px;
    font-family: var(--font-sans);
    color: var(--text-color-lightbluegrey);
}

/* Intro Styling */

#Intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 50px 0 400px 0;
    max-width: 800px;
}

#Intro .content-large {
    margin: 5px 0;
    font-size: 70px;
}

#Intro .content-medium {
    font-size: 60px;
    margin: 5px 0;
}

#Intro .content-small {
    width: 70%;
    margin: 5px auto 0 0;
    line-height: 1.5;
}

#Intro .content-small-monospace {
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {

    #Intro {
        width: 90%
    }

    #Intro .content-large {
        margin: 5px 0;
        font-size: 50px;
    }

    #Intro .content-medium {
        font-size: 30px;
        margin: 5px 0;
    }

    #Intro .content-small {
        width: 80%;
    }

    #Intro .content-small-monospace {
        margin: 0 5px;
    }
}

.intro-content>div {
    opacity: 0;
    transform: translateY(30%);
    transition: 0.7s ease-in-out;
}

.intro-content>div.slide-up {
    transform: translateY(0)
}

.intro-content>div.fade-in {
    opacity: 1;
}

/* Animated Scroll Prompt */

.arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

/* animation -> delay */
.arrow-first {
    animation: arrow-movement 2.5s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2.5s 0.5s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: var(--text-color-lightbluegrey);
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        bottom: 8%;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        bottom: 3%;
    }
}

.arrow-fade-out {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.arrow-wrapper.fade-in {
    opacity: 1;
}

/* Section styling */

.section {
    opacity: 0;
    transform: translateY(0);
    transition: 0.8s ease-in-out;
}

.section.fade-in {
    opacity: 1;
}

.section.slide-up {
    transform: translateY(-30%);
}

/* About Section */

#About {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 50px auto;
    padding: 0px;
    max-width: fit-content;
}

#About .about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    transform: translateY(0);
    opacity: 1;
    transition: 0.8s ease-in-out;
}

#About .title-content-wrapper {
    display: flex;
    align-items: baseline;
}

#About .content-small-monospace {
    font-size: 20px;
}

#About .content-medium {
    color: var(--text-color-lightbluegrey);
    margin: 0;
}

#About .main-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#About .about-text {
    width: 60%;
    max-width: 450px;
    box-sizing: border-box;
    flex-shrink: 0;
    line-height: 1.8;
}

#About .tech-list {
    display: grid;
    padding-inline-start: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
}

#About .tech-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-family: var(--font-sans);
    color: var(--text-color-darkbluegrey);
}

#About .tech-list li i {
    margin-right: 5px;
    width: 20px;
}

/* About images */

#About .about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    width: 40%;
    height: 100%;
}

#About .polaroid {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    opacity: 0;
}

#About .polaroid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(221, 221, 221);
    border-bottom: 20px solid rgb(221, 221, 221);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* first photo */
#About .polaroid:first-child img {
    position: relative;
    transform: rotate(-10deg);
    top: 20px;
    left: -10px;
    z-index: 1;
}

/* second photo */
#About .polaroid:nth-child(2) img {
    position: relative;
    transform: rotate(5deg);
    left: 60px;
    top: -30px
}

/*third photo */
#About .polaroid:last-child img {
    position: relative;
    transform: rotate(-5deg);
    bottom: 50px;
}

/* Polaroid Animation */
@keyframes place-down {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#About .place-down {
    animation: place-down 0.8s ease forwards;
}

/* About section mobile */

@media only screen and (max-width: 768px) {
    #About .main-content-wrapper {
        flex-direction: column-reverse;
    }

    #About .about-me {
        margin: 5px;
    }

    #About .about-text {
        width: 100%;
    }

    #About .about-image {
        margin: 0;
        flex-direction: row;
        margin-top: 50px;
        align-items: center;
        width: 100%;
    }

    #About .polaroid {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    /* first photo */
    #About .polaroid:first-child img {
        position: relative;
        transform: rotate(-10deg);
        z-index: 1;
        top: -30px;
        left: 0;
        bottom: 0;
    }

    /* second photo */
    #About .polaroid:nth-child(2) img {
        position: relative;
        transform: rotate(5deg);
        top: -30px;
        left: 0;
    }

    /*third photo */
    #About .polaroid:last-child img {
        position: relative;
        transform: rotate(-10deg);
        top: -30px;
    }

    /* Polaroid animation mobile */
    @keyframes place-down-mobile {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    #About .place-down {
        animation: place-down-mobile 0.8s ease forwards;
    }
}


/* Projects Section */

#Projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 0px;
    max-width: 900px;
}

#Projects .title-content-wrapper {
    display: flex;
    align-items: baseline;
}

#Projects .content-small-monospace {
    font-size: 20px;
}

#Projects .content-medium {
    color: var(--text-color-lightbluegrey);
    margin: 0;
}

#Projects .main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Education Section */

#Education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 0px;
    max-width: 900px;
}

#Education .title-content-wrapper {
    display: flex;
    align-items: baseline;
}

#Education .content-small-monospace {
    font-size: 20px;
}

#Education .content-medium {
    color: var(--text-color-lightbluegrey);
    margin: 0;
}

#Education .main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Contact Section */

#Contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 50px auto;
    padding: 0px;
    max-width: 900px;
}

#Contact .title-content-wrapper {
    display: flex;
    align-items: baseline;
}

#Contact .content-small-monospace {
    font-size: 20px;
}

#Contact .content-medium {
    color: var(--text-color-lightbluegrey);
    margin: 0;
}

#Contact .main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Social icons & links styling */

.socials {
    position: fixed;
    left: 60px;
    bottom: 150px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.socials a {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color-grey);
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.socials a:hover {
    color: var(--text-color-cyan);
    transform: translateY(-7%);
}

.socials::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 15rem;
    top: 9rem;
    bottom: 0;
    background-color: var(--text-color-grey);
}

@media only screen and (max-width: 768px) {
    .socials {
        position: inherit;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .socials a {
        margin: 0 10px;
        font-size: 28px;
    }

    .socials::after {
        display: none;
    }
}

/* Email styling */

.email {
    position: fixed;
    right: 60px;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.email a {
    display: block;
    margin-bottom: 10px;
    color: var(--text-color-grey);
    writing-mode: vertical-lr;
    font-size: 16px;
    font-family: var(--font-mono);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.email a:hover {
    color: var(--text-color-cyan);
    transform: translateY(-5%);
}

.email::after {
    content: "";
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    width: 2px;
    height: 10rem;
    top: 14.5rem;
    bottom: 0;
    background-color: var(--text-color-grey);
}

@media only screen and (max-width: 768px) {
    .email {
        position: inherit;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .email a {
        font-size: 14px;
        writing-mode: horizontal-tb;
        margin: 0 10px;
    }

    .email::after {
        display: none;
    }
}

.email.fade-in,
.socials.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


/* Footer styling */

footer {
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    padding: 20px 0 5px 0;
}

.footer-content a {
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color-grey);
    transition: color 0.2s ease-in-out;
}

.footer-content:hover a {
    color: var(--text-color-cyan);
}

@media only screen and (max-width: 768px) {
    .footer-content {
        padding: 30px 0 10px 0;
    }

    .footer-content a {
        font-size: 10px;
    }
}